<div class="app-selector btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    <ng-container *ngIf="!selectedTemplateRef">
      {{ picked?.name || label }}
    </ng-container>

    <ng-container
      *ngIf="selectedTemplateRef"
      [ngTemplateOutlet]="selectedTemplateRef"
      [ngTemplateOutletContext]="{ $implicit: picked, selected: picked }"
    >
    </ng-container>
    <span class="caret"></span>
  </button>

  <ul *dropdownMenu class="dropdown-menu">
    <li
      *ngFor="let option of options; index as i"
      (click)="selectOption(option)"
    >
      <ng-container *ngIf="!optionTemplateRef">
        <a class="dropdown-item">
          {{ option?.name || option }}
        </a>
      </ng-container>

      <ng-container
        *ngIf="optionTemplateRef"
        [ngTemplateOutlet]="optionTemplateRef"
        [ngTemplateOutletContext]="{ $implicit: option, index: i, options: option }"
      >
      </ng-container>
    </li>
  </ul>
</div>
