<h4>
  Client 2 - Tractors
</h4>

<app-my-selector [options]="tractors">
  <!-- Using structural syntax to pass input for typings. -->
  <ng-container *selected="tractors as tractor">
    {{ tractor?.name || "Tractor" }} {{ tractor?.stars }}
  </ng-container>

  <ng-container *options="tractors as tractor; index as id">
    <div>
      <div>
        <b>{{ tractor.name }}</b>
      </div>
      <img height="100" width="150" src="{{ tractor.img }}" />
      <span *ngFor="let i of [].constructor(tractor.stars)"> &#x2B50;</span>
      <button class="btn btn-danger" style="width:100%">Buy Now!</button>
    </div>
  </ng-container>
</app-my-selector>