<h4>
  Client 1 - Sharks
</h4>

<app-my-selector
  [label]="'Sharks'"
  [options]="sharks"
  (selectionChanged)="selectedShark = $event"
>
  <ng-template [selected]="sharks" let-shark>
    <fa-icon *ngIf="shark" [icon]="getSwimIcon(shark)"></fa-icon>
    {{ shark?.name || "Shark" }}
  </ng-template>

  <!-- [options]="sharks" Input used to infer typing as optionTemplate is Generic. See Client 2 for alternative syntax -->
  <ng-template [options]="sharks" let-shark let-id="index">
    <a class="dropdown-item" [style.color]="id % 2 == 0 ? 'black' : 'blue'">
      <fa-icon *ngIf="shark" [icon]="getSwimIcon(shark)"></fa-icon>
      {{ sharkDisplay(shark) }}
    </a>
  </ng-template>
</app-my-selector>
